.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
.sidenav-container {
  height: 100vh;
}
.sidenav {
  max-width: 20rem;
}
.example-card {
  box-shadow: none !important;
}
